bank-cards-pos-iso-auth/src/main/resources/META-INF/wsdl/RTPSAuthWSWrapperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://auth.cards.bank.lv/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RTPSAuthWSWrapperService" targetNamespace="http://auth.cards.bank.lv/">
  <types/>
  <message name="simplePurchase">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
  </message>
  <message name="simplePurchaseResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="balanceInquiry">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="balanceInquiryResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="simpleReversal">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:long"/>
  </message>
  <message name="simpleReversalResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="simpleBDC">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="simpleBDCResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="RTPSAuthWSWrapperPort">
    <operation name="simplePurchase" parameterOrder="arg0 arg1 arg2">
      <input message="tns:simplePurchase"/>
      <output message="tns:simplePurchaseResponse"/>
    </operation>
    <operation name="balanceInquiry" parameterOrder="arg0 arg1">
      <input message="tns:balanceInquiry"/>
      <output message="tns:balanceInquiryResponse"/>
    </operation>
    <operation name="simpleReversal" parameterOrder="arg0 arg1">
      <input message="tns:simpleReversal"/>
      <output message="tns:simpleReversalResponse"/>
    </operation>
    <operation name="simpleBDC">
      <input message="tns:simpleBDC"/>
      <output message="tns:simpleBDCResponse"/>
    </operation>
  </portType>
  <binding name="RTPSAuthWSWrapperPortBinding" type="tns:RTPSAuthWSWrapperPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="simplePurchase">
      <soap:operation soapAction="simplePurchase"/>
      <input>
        <soap:body namespace="http://auth.cards.bank.lv/" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://auth.cards.bank.lv/" use="literal"/>
      </output>
    </operation>
    <operation name="balanceInquiry">
      <soap:operation soapAction="balanceInquiry"/>
      <input>
        <soap:body namespace="http://auth.cards.bank.lv/" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://auth.cards.bank.lv/" use="literal"/>
      </output>
    </operation>
    <operation name="simpleReversal">
      <soap:operation soapAction="simpleReversal"/>
      <input>
        <soap:body namespace="http://auth.cards.bank.lv/" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://auth.cards.bank.lv/" use="literal"/>
      </output>
    </operation>
    <operation name="simpleBDC">
      <soap:operation soapAction="simpleBDC"/>
      <input>
        <soap:body namespace="http://auth.cards.bank.lv/" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://auth.cards.bank.lv/" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RTPSAuthWSWrapperService">
    <port binding="tns:RTPSAuthWSWrapperPortBinding" name="RTPSAuthWSWrapperPort">
      <soap:address location="http://localhost:8080/BankCardsPosISOAuthWS/RTPSAuthWSWrapperPort"/>
    </port>
  </service>
</definitions>
